body{
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
}
.content{
    width: 100%;
    margin-top: 5rem;
    overflow: hidden;
}
.footer{
    width: 100%;
    height: 4.25rem;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.footer a{
    font-size: 1.15rem;
    color: #393939;
    line-height: 4.25rem;
}
.footer ul{
    width: 100%;
    height: 4.25rem;
}
.footer ul li{
    width: 20%;
    height: 4.25rem;
    float: left;
}
.footer ul li div{
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin: 1.5rem 0.2rem 0 0;
    vertical-align: top;
    background: url("../img2/home_2.png") no-repeat center;
    background-size: 100% 100%;
}
.footer ul li.nav-2 a{
    color: #c01c2e;
}
.content-1{
    width: 100%;
    height: 17.85rem;
    overflow: hidden;
}
.content-1 div{
    width: 100%;
    height: 17.85rem;
}
.content-2{
    width: 100%;
    overflow: hidden;
}
.content-2-main{
    height: 8.15rem;
    margin-top: 1.5rem;
    text-align: center;
}
.content-2-main h5{
    font-size: 1.5rem;
    color: #c01d2e;
    letter-spacing: 0.1rem;
}
.content-2-main p{
    font-size: 1.05rem;
    color: #c01d2e;
    letter-spacing: 0.1rem;
}
.content-2-main ul{
    height: 3rem;
    border-right: 0.05rem solid #dddddd;
    border-left: 0.05rem solid #dddddd;
    margin-top: 1.7rem;
}
.content-2-main ul li{
    float: left;
    width: 25%;
    height: 3rem;
    border-top: 0.05rem solid #dddddd;
    border-bottom: 0.05rem solid #dddddd;
}
.content-2-main ul li a{
    font-size: 1.1rem;
    color: #595757;
    line-height: 3rem;
}
/*.content-2-main ul li.nav-1{*/
    /*background-color: #c01c2e;*/
    /*border-top: 0.05rem solid #c01c2e;*/
    /*border-bottom: 0.05rem solid #c01c2e;*/
/*}*/
/*.content-2-main ul li.nav-1 a{*/
    /*color: #ffffff;*/
/*}*/
.content-3{
    width: 100%;
    height: 82.8rem;
    overflow: hidden;
}
.content-3-main{
    width: 29rem;
    height: 82.8rem;
    margin: 0 auto;
    overflow: hidden;
}
.content-3-title{
    height: 2rem;
    margin-top: 2rem;
}
.content-3-title a.cn{
    font-size: 1rem;
    color: #595757;
}
.content-3-title a.eng{
    font-size: 0.85rem;
    color: #595757;
    padding-left: 0.3rem;
    vertical-align: bottom;
}
.content-3-title div{
    width: 100%;
    height: 0.1rem;
    background-color: #595757;
    margin-top: 0.6rem;
}
.content-3-con-1,.content-3-con-3,.content-3-con-4{
    width: 100%;
    height: 16.5rem;
    margin-top: 2rem;
}
.content-3-con-box{
    float: left;
    width: 50%;
}
.content-3-con-box div{
    width: 10.75rem;
    height: 10.5rem;
    margin: 0 auto;
}
.content-3-con-box p{
    font-size: 1rem;
    color: #595757;
    line-height: 1.3rem;
    margin-top: 0.85rem;
}
.content-3-con-box ul li{
    list-style-type: disc;
    color: #898989;
    margin:0.85rem 0 0 1.5rem;
}
.content-3-con-box ul li a{
    font-size: 0.85rem;
    color: #595757;
    line-height: 1rem;
}
.content-3-con-2{
    width: 100%;
    height: 18.6rem;
    margin-top: 2rem;
}
.content-4{
    width: 100%;
    /*height: 44.1rem;*/
    overflow: hidden;
}
.content-4-top{
    width: 100%;
    /*height: 24.25rem;*/
    background-color: #645b58;
    overflow: hidden;
}
.content-4-title{
    width: 29.25rem;
    /*height: 2rem;*/
    margin: 1.5rem auto 0;
}
.content-4-title a.cn{
    font-size: 1rem;
    color: #ffffff;
}
.content-4-title a.eng{
    font-size: 0.85rem;
    color: #ffffff;
    padding-left: 0.3rem;
    vertical-align: bottom;
}
.content-4-title div{
    width: 100%;
    height: 0.1rem;
    background-color: #ffffff;
    margin-top: 0.5rem;
}
.content-4-pic-box{
    width: 29.25rem;
    height: 19.55rem;
    margin: 1.2rem auto 0;
    position: relative;
    overflow: hidden;
}
.content-4-pic-wrap{
    width: 400%;
    height: 19.55rem;
    position: relative;
}
.content-4-pic{
    width: 29.25rem;
    height: 19.55rem;
    float: left;
    position: relative;
}
.content-4-pic div{
    width: 1.6rem;
    height: 1.3rem;
    position: absolute;
    bottom: 0.9rem;
    right: 0.9rem;
}
.content-4-pic div a{
    font-size: 1rem;
    color: #ffffff;
}
.content-4-bottom{
    width: 100%;
    /*height: 19.85rem;*/
    background: url("../img2/course_pic_11.png") no-repeat center;
    background-size: 100% 100%;
}
.content-4-bottom-con{
    width: 25.3rem;
    /*height: 19.85rem;*/
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding-bottom: 2.2rem;
}
.content-4-bottom-con p{
    font-size: 1.2rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    margin-top: 1.7rem;
}
.content-4-bottom-con ul{
    margin-top: 1.4rem;
}
.content-4-bottom-con ul li{
    text-align: left;
    list-style-type: disc;
    color: #ffffff;
    margin:0.85rem 0 0 2.2rem;
}
.content-4-bottom-con ul li a{
    font-size: 0.85rem;
    color: #ffffff;
    font-weight: lighter;
}
.content-4-bottom-con-stage{
    /*width: 20rem;*/
    /*height: 3.6rem;*/
    margin: 1.5rem auto 0;
    /*text-align: center;*/
}
.content-4-bottom-con-stage-1,.content-4-bottom-con-stage-2,.content-4-bottom-con-stage-3{
    display: inline-block;
    /*width: 3.4rem;*/
    /*height: 3.6rem;*/
    margin: 0 auto;
    padding: 0 1.5rem;
}
.content-4-bottom-con-stage-1 div,.content-4-bottom-con-stage-2 div,.content-4-bottom-con-stage-3 div{
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}
.content-4-bottom-con-stage-1 p,.content-4-bottom-con-stage-2 p,.content-4-bottom-con-stage-3 p{
    font-size: 0.85rem;
    color: #ffffff;
    letter-spacing: normal;
    margin-top: 0.5rem;
}
.content-4-bottom-borderLeft{
    width: 1.65rem;
    height: 75%;
    position: absolute;
    left: 0;
    top: 2.6rem;
}
.content-4-bottom-borderRight{
    width: 1.65rem;
    height: 75%;
    position: absolute;
    right: 0;
    top: 2.6rem;
}
.content-5{
    width: 100%;
    height: 102rem;
    overflow: hidden;
}
.content-5-main{
    width: 29rem;
    height: 102rem;
    margin: 0 auto;
    overflow: hidden;
}
.content-5-title{
    /*width: 29.25rem;*/
    /*height: 2rem;*/
    margin: 1.5rem auto 0;
}
.content-5-title a.cn{
    font-size: 1rem;
    color: #595757;
}
.content-5-title a.eng{
    font-size: 0.85rem;
    color: #595757;
    padding-left: 0.3rem;
    vertical-align: bottom;
}
.content-5-title div{
    width: 100%;
    height: 0.1rem;
    background-color: #595757;
    margin-top: 0.6rem;
}
.content-5-box{
    width: 100%;
    height: 31.5rem;
    margin-top: 1rem;
}
.content-5-box-pic{
    width: 29rem;
    height: 22.65rem;
    position: relative;
    text-align: center;
}
.content-5-box-pic p{
    width: 100%;
    font-size: 1.75rem;
    color: #ffffff;
    line-height: 2.3rem;
    position: absolute;
    top: 9.425rem;
}
.content-5-box ul{
    margin: 1rem 0 0 1.25rem;
}
.content-5-box ul li{
    list-style-type: disc;
    font-size: 0.9rem;
    color: #595757;
}
.content-5-box ul li a{
    font-size: 0.9rem;
    color: #595757;
    line-height: 1.8rem;
    text-indent: 0.9rem;
}
.content-6{
    width: 100%;
    /*height: 44.1rem;*/
    overflow: hidden;
}
.content-6-top{
    width: 100%;
    /*height: 25.1rem;*/
    background-color: #038459;
    overflow: hidden;
}
.content-6-title{
    width: 29.05rem;
    /*height: 2rem;*/
    margin: 1.5rem auto 0;
}
.content-6-title a.cn{
    font-size: 1rem;
    color: #ffffff;
}
.content-6-title a.eng{
    font-size: 0.85rem;
    color: #ffffff;
    padding-left: 0.3rem;
    vertical-align: bottom;
}
.content-6-title div{
    width: 100%;
    height: 0.1rem;
    background-color: #ffffff;
    margin-top: 0.6rem;
}
.content-6-pic-box{
    width: 29.05rem;
    height: 19.25rem;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
}
.content-6-pic-wrap{
    width: 400%;
    height: 19.25rem;
    position: relative;
}
.content-6-pic{
    width: 29.05rem;
    height: 19.25rem;
    float: left;
    position: relative;
}
.content-6-pic div{
    width: 1.6rem;
    height: 1.3rem;
    position: absolute;
    bottom: 0.9rem;
    right: 0.9rem;
}
.content-6-pic div a{
    font-size: 1rem;
    color: #ffffff;
}
.content-6-bottom{
    width: 100%;
    /*height: 19rem;*/
    background: url("../img2/course_pic_13.png") no-repeat center;
    background-size: 100% 100%;
}
.content-6-bottom-con{
    width: 25.3rem;
    /*height: 19rem;*/
    margin: 0 auto;
    padding-bottom: 2.2rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.content-6-bottom-con p{
    font-size: 1.2rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    margin-top: 2rem;
}
.content-6-bottom-con ul{
    margin: 1.5rem 0 0 3.5rem;
}
.content-6-bottom-con ul li{
    text-align: left;
    list-style-type: disc;
    color: #ffffff;
    margin-top:1.2rem;
}
.content-6-bottom-con ul li a{
    font-size: 0.85rem;
    color: #ffffff;
    font-weight: lighter;
}
.content-6-bottom-con-stage{
    /*width: 19.2rem;*/
    /*height: 3.6rem;*/
    margin: 1.5rem auto 0;
}
.content-6-bottom-con-stage-1,.content-6-bottom-con-stage-2,.content-6-bottom-con-stage-3{
    display: inline-block;
    /*width: 3.4rem;*/
    /*height: 3.6rem;*/
    margin: 0 auto;
    padding: 0 1.5rem;
}
.content-6-bottom-con-stage-1 div,.content-6-bottom-con-stage-2 div,.content-6-bottom-con-stage-3 div{
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}
.content-6-bottom-con-stage-1 p,.content-6-bottom-con-stage-2 p,.content-6-bottom-con-stage-3 p{
    font-size: 0.85rem;
    color: #ffffff;
    letter-spacing: normal;
    margin-top: 0.5rem;
}
.content-6-bottom-borderLeft{
    width: 1.65rem;
    height: 72%;
    position: absolute;
    left: 0;
    top: 2.7rem;
}
.content-6-bottom-borderRight{
    width: 1.65rem;
    height: 72%;
    position: absolute;
    right: 0;
    top: 2.7rem;
}